.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.menuLink {
  padding: 0.8rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.8rem;

  color: var(--text-over-primary);
  background-color: var(--primary);

  transition: all 0.2s ease-in-out;
}

.menuLink:hover {
  filter: brightness(80%);
}

.menuLink svg {
  width: 2.8rem;
  height: 2.8rem;
}
