.button {
  min-width: 24rem;
  margin: 4.8rem 0;
  padding: 0.8rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 0.8rem;

  color: var(--text-over-primary);
  background-color: var(--primary);

  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button svg {
  width: 3.2rem;
  height: 3.2rem;
}

.button:hover {
  filter: brightness(80%);
}

.green {
  color: var(--text-over-primary);
  background-color: var(--primary);
}

.red {
  color: var(--text-over-error);
  background-color: var(--error);
}
